<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Angular 2 Examples</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a [router-link]="['/home']">Home</a>
        </li>
        <li>
          <a [router-link]="['/todo']">Todo</a>
        </li>
        <li>
          <a [router-link]="['/weather']">Weather</a>
        </li>
        <li>
          <a [router-link]="['/others']">Others</a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="https://github.com/DawidMyslak/angular2-examples/">Source code</a>
        </li>
        <li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <!-- components are loaded here -->
  <router-outlet></router-outlet>
</div>