<h1>Home</h1>
<br>
<p>This app was created using:</p>
<ul>
  <li><a href="https://github.com/Microsoft/TypeScript">TypeScript</a> (1.5.0-beta)</li>
  <li><a href="https://github.com/angular/angular">Angular 2</a> (2.0.0-alpha.29)</li>
</ul>
<br>
<p>Shows how to:</p>
<ul>
  <li>Setup development environment with Gulp, NodeJS and TypeScript</li>
  <li>Create scalable project structure</li>
  <li>Use annotations and decorators</li>
  <li>Use routing and HTTP modules</li>
  <li>Build reusable components, e.g. tabs and zippy</li>
</ul>
